{% extends "layout.html" %}

{% block web-extra-head %}
  <title>Contact</title>
{% endblock %}

{% block web-extra-content %}
<br>
<div class="container">
  <ul class="fa-ul">
    <li>
      <a href="#" target="_blank">
        <i class="fa-li fa fa-map-marker"></i>
        Number Street, City, State Zipcode
      </a>
    </li>
    <li>
      <i class="fa-li fa fa fa-phone"></i>
      +1 (xxx)-xxx-xxxx
    </li>
    <li>
      <i class="fa-li fa fa fa-envelope"></i>
      abc@xyz.com
    </li>
  </ul>
</div>
{% endblock %}
